<html>
   <head>
    <% include partials/template/head.ejs %>
    <script src="public/js/chat.js"></script>
    <script src="public/js/join-game.js"></script>
  </head>
  <body>
  <% include partials/template/nav.ejs %>

  <div class="container well">
      <h1>About Us</h1>
      <h3>Welcome to our website. Connect to the world of Connect4 where you will be able to go toe to toe against your opponents.</h3>

      <h3>We are students at San Francisco State University and this is our very first *live* web application! We hope you enjoy...</h3>

      <h4 class="pull-right">- Abdul, Khalid, Mohammoud, Nick</h4>
  </div>
  </body>
</html>