<html>
  <head>
    <% include partials/template/head.ejs %>
    <!--<link rel="stylesheet" href="public/css/main.css" type='text/css'> -->
    <script src="public/js/game/vars.js"></script>
    <script src="public/js/game/functions.js"></script>
    <script src="public/js/game.js"></script>
  </head>
  <body>
    <input type="hidden" id="gameID" value="<%= gameID %>" /> 
    <input type="hidden" id="username" value="<%= username %>" /> 
    <input type="hidden" id="playerid" value="<%= playerid %>" /> 
    <input type="hidden" id="playerno" value="<%= playerno %>" />

    <% include partials/template/nav.ejs %>

    <div class="row" id="gameroom-main">
        <div class="info" style="padding: 10px; margin-bottom: 25px;">
          <h1 class="title">Play Connect Four!</h1>
          <h3 class="myColor"><span class="colorMsg"></span></h3>
          <h3 class="message"><span class="prefix"></span><span id="player" class="player">&nbsp;</span></h3>
        </div>
        <div id="game-board" class="col-sm-6 col-lg-8">
          <% include partials/template/gameboard.ejs %>
        </div>

        <div id="gr-chat" class="col-sm-6 col-lg-4" style="padding-right: 100px;">
          <h2>Chat</h2>
          <% include partials/template/chat.ejs %>
        </div>
    </div>

  </body>
</html>
