<html>
   <head>
    <% include partials/template/head.ejs %>
    <script src="public/js/chat.js"></script>
    <script src="public/js/join-game.js"></script>
  </head>
  <body> 
  <% include partials/template/nav.ejs %>
  <% include partials/template/jumbotron.ejs %>

    <div class="container" id="main-lobby">
        <div id="lobby-chat" class="col-sm-6 col-lg-5">
          <h2>General Discussion</h2>
          <% include partials/template/chat.ejs %>
        </div>

        <div id="games-table" class="col-sm-6 col-lg-7">
          <div class="col-xs-12">
            <h2>Create a Game</h2>
            <a href="/create-new-game" class="btn btn-info" role="button">Create a new game</a>
          </div>          
          <div id="wait-games" class="col-xs-12">
            <h2>Join a Game</h2>
            <% include partials/template/waiting-games.ejs %>
          </div>
        </div>
    </div>
  </body>
</html>