<html>
   <head>
    <title>ConnectFour</title>
    <link rel='stylesheet' href='public/css/style.css' type='text/css'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="public/js/chat.js"></script>
  </head>
  <body> 

    <div class="container-fluid main" style="margin-top: 50px;">   
      <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-3">
          <a href="/create-new-game" class="btn btn-info" role="button">Create a new game</a>
        </div>
        <div class="col-sm-3">
          <a href="/join-game" class="btn btn-info" role="button">Join an open game</a>
        </div>
        <div class="col-sm-3">
        </div>
      </div>
      <div class="row" style="margin-top: 50px;">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8" style="border: 1px solid #ccc;padding: 5px; border-radius: 6px;">
          <ul id="messages"></ul>
          <span id="notifyUser"></span>
          <form id="form" action="" onsubmit="return submitfunction();" > 
            <input type="hidden" id="user" value="<%= username %>" /> 
            <div class="col-sm-10">
            <input id="m" autocomplete="off" onkeyup="notifyTyping();" placeholder="Type yor message here.." type="text" class="form-control"/>
            </div>
            <div class="col-sm-2">
            <input type="submit" id="send" class="btn btn-success" value="Send" class="form-control"/> 
            </div>
          </form>        
        </div>
        <div class="col-sm-2">
        </div>
      </div>
    </div>
  </body>
</html>