<html>
   <head>
    <title>ConnectFour - Register</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="public/css/login.css">

    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="public/js/register.js"></script>
  </head>
  <body> 
	<div class="container-fluid main">	 
	  <div class="row">
		<div class="col-sm-2">
		</div>
		<div class="col-sm-8">
			<form class="form-horizontal" id="regform" action='/register' method="POST">			  
				<div class="form-group">
				  <!-- Username -->
				  <label class="control-label"  for="username">Username</label>
				  <div class="controls">
					<input type="text" id="username" name="username" placeholder="" class="form-control">
					<p class="help-block">Username can contain any letters or numbers, without spaces</p>
				  </div>
				</div>
		 		<div class="form-group">
				  <!-- Email -->
				  <label class="control-label"  for="email">Email</label>
				  <div class="controls">
					<input type="email" id="email" name="email" placeholder="" class="form-control">
					<p class="help-block">Email can contain any letters or numbers, with @</p>
				  </div>
				</div>
				<div class="form-group">
				  <!-- Password-->
				  <label class="control-label" for="password">Password</label>
				  <div class="controls">
					<input type="password" id="password" name="password" placeholder="" class="form-control">
					<p class="help-block">Password should be at least 8 characters</p>
				  </div>
				</div>
			 
				<div class="form-group">
				  <!-- Password -->
				  <label class="control-label"  for="password_confirm">Password (Confirm)</label>
				  <div class="controls">
					<input type="password" id="password_confirm" name="password_confirm" placeholder="" class="form-control">
					<p class="help-block">Please confirm password</p>
				  </div>
				</div>
			 
				<div class="form-group">
				  <!-- Button -->
				  <div class="controls">
					<button type="submit" class="btn btn-success">Register</button>
					<a href="/" class="btn btn-info" role="button">Cancel</a>
				  </div>
				</div>
			</form>    
		</div>
		<div class="col-sm-2"></div>
	  </div>
	</div>

  </body>
</html>