<div class="container main">   
  <div class="jumbotron text-center" id="welcome-jumbo">
    <span class="jumbo-title"><h1>Connect4</h1></span>
    <span class="jumbo-txt"><p>Four in a row and you win!</p></span>
  </div>
</div>