<div class="col-lg-12 wait-games">         
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Game ID</th>
          <th>Game Name</th>                  
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% games.forEach(function(game) { %>
          <tr>
            <td><%= game.game_id %></td>
            <td><%= game.game_name %></td>
            <td>
               <input type="button" class="btn btn-success" value="Join" onclick="onJoin(<%= game.game_id %>, <%= playerid %>)"/>
            </td>
          </tr>                    
        <% }); %>    
        
      </tbody>
    </table>
</div>        

<form id="joinForm" action="/game" method="post"> 
  <input type="hidden" id="player_no" name="player_no" value="2" />
  <input type="hidden" id="game_id" name="game_id" /> 
</form>
